@import url('https://fonts.googleapis.com/css2?family=Geist:wght@300;400;500;600;700&display=swap');



@font-face {
  font-family: 'Geist';
  src: local('Geist Medium'), local('Geist');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}